extends ../layouts/application.pug

block header
  = t('views.users.editTitle')


block content
  +formFor()(action=`/users/${user.id}` method='post')
    +input(user, 'firstname', errors)(type="text")
    +input(user, 'lastname', errors)(type="text")
    +input(user, 'email', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    input(name='_method' type='hidden' value='patch')
    +submit(user)(value=t('views.users.new.submit'))
