extends ../layouts/application.pug

block header
  = t('views.tasks.editTitle')

block content
  +formFor()(action=route('taskUpdate', {id: task.id}) method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +select(task, 'statusId', errors, statuses)
    +select(task, 'executorId', errors, users)
    +selectMultiple(task, 'labels', errors, labels, taskLabelId)
    input(name='_method' type='hidden' value='patch')
    +submit(task)(value=t('views.tasks.edit'))
